<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Problems</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body>
    <h1><strong>Test Your Knowledge Below!💡👇🏻</strong></h1>
    <div class="problems-container">
        <table class="problems-table">
            <thead class="table-head">
                <tr class="table-row">
                    <th scope="col">Status</th>
                    <th scope="col">Title</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Category</th>
                    <th scope="col">Solution</th>
                </tr>
            </thead>
            <tbody id="problems-table-body">
                {{#each problems}}
                <tr class="problems-table-row">
                    <td class="status-cell">
                        {{#if solved}}
                        <i class="fas fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td class="title-cell">
                        <a href="/problems/{{id}}" class="problem-link">{{title}}</a>
                    </td>
                    <td class="difficulty-cell {{difficulty}}">
                        {{difficulty}}
                    </td>
                    <td>{{category}}</td>
                    <td class="solution-cell">
                        {{#if video_id}}
                        <i class="fab fa-youtube text-danger youtube-icon" data-video-id="{{video_id}}"></i>
                        {{else}}
                        <p class="text-gray-400">Coming soon</p>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="pagination-controls">
                            <button id="prev-page" class="pagination-button" disabled>
                                <i class="fas fa-arrow-left"></i> Previous
                            </button>
                            <div class="pagination-numbers" id="page-numbers"></div>
                            <button id="next-page" class="pagination-button">
                                Next <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- YouTube Modal -->
    <div id="youtube-modal" class="modal">
        <div class="youtube-modal-content">
            <span class="close-btn">&times;</span>
            <div id="youtube-player"></div>
        </div>
    </div>

    <script src="/js/problemsTable.js"></script>
</body>
</html>
